@import "reset";

body{
    background-color:#EDF2F8;
    font-size:13px;
    font-family: 'Roboto', sans-serif;
}

main{
    margin: 74px 24px;
    .exhibition{
        img{
            width: 100%;
            border-top-right-radius: 9px;
            border-top-left-radius: 9px;
        }
    }
    .description{
        padding: 41px 33px 33px 33px;
        background-color: #fff;
        h1{
            color:$Very-Dark-Grayish-Blue;
            margin-bottom:20px;
        }
        p{
            max-width: 258px;
            font-size:14px;
            color: $Desaturated-Dark-Blue;
            line-height: 24px;
        }
    }

    .share{
        height: 60px;
        background-color: #fff;
        padding: 0px 33px 0px 33px;
        display: flex;
        align-items: flex-start;
        justify-content: space-between;
        border-bottom-right-radius: 9px;
        border-bottom-left-radius: 9px;

        .avatar{
            display: flex;
            align-items: center;
            img{
                width: 40px;
                height: 40px;
                border-radius: 50%;
                margin-right: 16px;
            }
            .avatar-desc{
                display: flex;
                flex-direction: column;
                h3{
                    color:$Very-Dark-Grayish-Blue;
                    margin-bottom:8px;
                }
                span{
                    color:$Grayish-Blue;
                }
                
            }
        }
        .network{
            background: #EEF1F8;
            border-radius: 50%;
            margin-top:4px;
            width: 25px;
            height: 25px;
            display: flex;
            align-items: center;
            justify-content: center;
        }
    }
}

.attribution {
      font-size: 11px;
      text-align: center;
    }

.attribution a {
      color: hsl(228, 45%, 44%);
}